* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0;
}

.padd {
    padding: 3rem 15px;
}

/* Navbar Start */

.navColor {
    background-color: #121F38;
    /* margin: 0 20px; */
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav .container {
    padding: 0 80px;
}

nav h1 {
    font-size: 40px;
    color: white;
    font-family: 'Great Vibes', cursive;
}

nav h1 span {
    color: #E47A2E;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    font-size: 16px;
    padding: 20px 10px;
    letter-spacing: 1px;
    font-weight: 600;
    outline: 0;
    margin: 10px 0 0;
}

.home {
    color: #E47A2E;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #E47A2E;
}

/* Navbar End */
/* Home Page Strt */
.hedingData {
    position: relative;
    margin: 0 0 100px 0;
}

.main-img img {
    object-fit: cover;
    height: 88vh;
}

.Data {
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    color: white;
    padding-left: 29.5%;
}

.box {
    max-width: 585px;
    padding: 16px;
    /* margin: 0 420px; */
}

.Data h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    margin: -16px 0 24px;
}

.textBorder {
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

/* Home Page End */
/* About Page Start */
.About_Page {
    margin: 0 63px 70px;
    /* padding: 48px 15px; */
}

.section-title {
    margin: 0 0 30px 0;
    text-align: center;
    position: relative;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 11px;
    left: calc(50% - 80px);
    background: #e47a2e;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 11px;
    right: calc(50% - 80px);
    background: #e47a2e;
}

.section-title h6 {
    letter-spacing: 3px;
    color: #e47a2e;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.section-title h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #121f38;
}

.section-title i {
    color: #121F38;
    font-weight: 400;
}

.text-md-rigth {
    text-align: right !important;
    padding: 0;
}

.groom-info {
    padding: 3rem;
    height: 100% !important;
    justify-content: center;
    background-color: #edf5f7 !important;
}

.groom-info h2 {
    margin: 75px 0 1rem 0;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
    color: #121f38;
}

.groom-info p {
    margin: 0 0 1rem;
    font-size: 19px;
}

.groom-info h3 {
    font-family: 'Great Vibes', cursive;
    color: #6c757d !important;
    font-weight: 400 !important;
    margin: 0 0 1rem;
    font-size: 1.75rem;
    line-height: 1.2;
}

.groom-info h3 i {
    color: #e47a2e !important;
    font-size: 900;
    padding-right: 1rem;
}

.all_icon {
    position: relative !important;
}

.all_icon a {
    width: 40px;
    height: 40px;
    color: #e47a2e;
    border: 2px solid #e47a2e;
    padding: 6px;
    text-align: center;
    margin-right: .25rem;
    display: inline-block;
}

.all_icon a:hover {
    background-color: #e47a2e;
    color: white;
    transition: 0.5s;
}

.about-1 {
    padding: 0;
}

.about-1 img {
    min-height: 400;
    padding: 0 !important;
    position: relative;
    width: 100%;
}

.text-md-left {
    text-align: left;
    padding: 0;
}

/* About Page End */

/* Story PAge Start */
.story-page {
    margin: 0 63px;
}

.time-line {
    position: relative;
    padding: 0;
}

.time-line .row {
    margin: 0 0 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mg-right {
    margin: 0 1rem 0 0;
}

.mg-left {
    margin: 0 0 0 1rem;
}

.col-md-6 {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .time-line .row::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        background: white;
        border: 2px solid #E47A2E;
        transform: rotate(45deg);
        z-index: 1;
    }
}

.story-data {
    padding: 1.5rem;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #edf5f7;
}

.story-mg-right {
    margin: 0 0 0 1rem;
}

.story-mg-left {
    margin: 0 1rem 0 0;
}

.story-data h4 {
    font-size: 1.5rem;
    color: #121F38;
    line-height: 1.2;
    font-weight: 600;
}

.story-data h5,
p {
    color: #818491;
}

@media (min-width: 768px) {
    .time-line .row::after {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 8px);
        color: #e47a2e;
        z-index: 2;
    }
}

@media (min-width: 768px) {
    .time-line::after {
        position: absolute;
        content: "";
        width: 2px;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
        background: #e47a2e;
    }
}

.text-center {
    text-align: center;
}

/* Story PAge End */

/* Gallery Page Start */

.bg-gallery {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(gallery.jpg), no-repeat, center center;
    background-size: cover;
    padding: 120px 0;
    margin: 90px 0 120px;
}

.gallery-icon {
    color: white !important;
}

.gallery-box {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-box img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.gallery-box img:hover {
    transform: scale(1.2);
}

/* Gallery Page End */

/* Event Page Start */
.event-text {
    text-align: center;
    width: 100%;
}

.event-text p {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
    color: #6c757d;
}

.event-img-data img {
    margin: 0 0 24px;
}

.event-img-data h4 {
    margin: 0 0 16px;
    font-size: 24px;
    color: #121F38;
}

.event-img-data p {
    font-size: 16px;
    color: #818491;
}

/* Event Page End */

/* Family Page Start */

.family-page {
    margin: 0 0 80px 0;
}

.list-inline {
    margin: 0 0 24px 0;
}

.btn-outline {
    padding: .5rem 1.5rem;
    font-weight: 700 !important;
    color: #e47a2e;
    border: 2px solid #e47a2e;
    font-size: 1rem;
    border-radius: 0;
    margin: 0.25rem;
}

.btn-outline:hover {
    background-color: #E47A2E;
    color: white;
}

.portfolio-container {
    padding: 0;
    margin: 0 0 1.5rem 0;
}

.family-info {
    margin: 0 0 1.5rem 0;
}

.family-data {
    text-align: center;
    background-color: #edf5f7;
    padding: 0 0 3rem 0;
}

.family-data h4 {
    font-size: 1.5rem;
    margin: 3rem 0 1rem;
    font-weight: 600;
    color: #121F38;
}

.family-data p {
    margin: 0 0 1rem 0;
    color: #818491;
}

.family-icon a {
    margin: 0 0.5rem;
    color: #E47A2E !important;
}

/* Family Page End */
/* RSVP Page Start */
.RSVP-Page {
    margin: 0 0 90px 0;
}

.justify-content-center {
    justify-content: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-control {
    padding: 1rem;
    border-radius: 0 !important;
    background-color: #edf5f7 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    display: block;
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
    font-family: inherit;
}

.form-group {
    margin: 0 0 1rem;
    padding: 0 15px;
}

.Message-text {
    margin: 0 -5px 1rem;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.btn-primary {
    font-weight: 700 !important;
    padding: 1rem 3rem;
    color: white;
    background-color: #e47a2e;
    border: 2px solid #e47a2e;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: rgba(228, 122, 46, 0.9);
    border: 2px solid rgba(228, 122, 46, 0.9);
    color: white;
}

/* Contact Page Start  */
.contact-page {
    background-color: #121f38;
    padding: 3rem 0;
    margin: 50px 0 100px 0;
}

.footer-icon {
    margin: 0 0 1.5rem;
}

.footer-icon a li {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    align-content: center;
    margin: 0 8px 0 0;
    font-size: 1.25rem;
    color: white;
}

.footer-icon a li:hover {
    background-color: white;
    color: #121f38;
    transition: 0.5s;
}

.number h5 {
    color: white;
    margin: 0 0 1.25rem 0;
}

.copyright {
    color: white;
}

/* Contact Page End  */

/* RSVP Page End */

@media (min-width: 768px) {
    .text-md-right {
        text-align: right !important;
    }

    .text-md-left {
        text-align: left !important;
    }
}